@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

body {
  background-color: #030014;
  overflow-x: hidden; /* Side me scroll na ho */
  overflow-y: auto; /* Neeche scroll HONA chahiye */
}
/* Scrollbar ki chaudai (width) */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar ka rasta (Track) - Transparent rakhenge taki background dikhe */
::-webkit-scrollbar-track {
  background: #030014;
}

/* Scrollbar ka pakad (Thumb) - Gradient wala */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #60a5fa, #a855f7, #ec4899); /* Blue -> Purple -> Pink */
  border-radius: 10px; /* Gol kinare */
  border: 2px solid #030014; /* Thoda gap dikhane ke liye border */
}

/* Jab mouse upar layenge to thoda dark hoga */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #3b82f6, #9333ea, #db2777);
}
